.header {
  max-height: calc(100vh - 80px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  color: $white;
  font-family: $reg-oswald;
  padding: 10px 0;

    @include tab-mid {
      min-height: 60px;
    }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__menu {
    display: none;
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 15;
    background-color: $blue-btn;
    color: $white;
    width: 300px;
    border-radius: 20px;
    text-align: center;

    @include mob-large {
      width: 100%;
    }
  }

  &__item {
    padding: 20px;

    &:hover{
      scale: 1.4;
    }
  }

  &__logo{
    font-size: 36px;
    font-weight: bold;
    font-family: $reg-oswald;
  }
  
  &__nav-btns{
    display: flex;
    align-items: center;
  }

  &__search{
    padding: 0 32px;
    display: flex;
    align-items: center;

    @include mob-large {
      display: none;
    }
  }
}


