* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h1,
h2 {
  text-transform: uppercase;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: inherit;
  border: none;
}

input {
  all: unset;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tjymrk");
  src: url("../fonts/icomoon.eot?tjymrk#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tjymrk") format("truetype"), url("../fonts/icomoon.woff?tjymrk") format("woff"), url("../fonts/icomoon.svg?tjymrk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-search:before {
  content: "\e986";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-mail:before {
  content: "\ea86";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-telegram:before {
  content: "\ea95";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eaca";
}

@font-face {
  font-family: "Oswald regular";
  src: url("../fonts/Oswald-Regular.eot");
  src: url("../fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald light";
  src: url("../fonts/Oswald-Light.eot");
  src: url("../fonts/Oswald-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato regular";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  max-height: calc(100vh - 80px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  color: #f7f8f3;
  font-family: "Oswald regular";
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  .header {
    min-height: 60px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__menu {
  display: none;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 15;
  background-color: #00C9E0;
  color: #f7f8f3;
  width: 300px;
  border-radius: 20px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .header__menu {
    width: 100%;
  }
}
.header__item {
  padding: 20px;
}
.header__item:hover {
  scale: 1.4;
}
.header__logo {
  font-size: 36px;
  font-weight: bold;
  font-family: "Oswald regular";
}
.header__nav-btns {
  display: flex;
  align-items: center;
}
.header__search {
  padding: 0 32px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .header__search {
    display: none;
  }
}

.footer {
  min-height: 600px;
  background-color: #02223B;
  font-family: "Oswald light";
  color: #f7f8f3;
  display: flex;
  text-align: center;
  align-items: center;
}
.footer__row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.footer__title {
  padding-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
.footer__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #00C9E0;
}
.footer__title::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: calc(100% - 8px);
  width: 8px;
  height: 8px;
  background-color: #00C9E0;
  transform: rotate(45deg);
}
.footer__list {
  padding-top: 20px;
}
.footer__item {
  padding: 10px 0;
}
.footer__item:hover {
  color: #00C9E0;
  scale: 1.1;
}
.footer__copyright {
  padding: 30px 0;
}

.social-logo {
  max-width: 120px;
  font-size: 20px;
}
.social-logo__title {
  padding-bottom: 10px;
  font-size: 18px;
  font-family: "Lato regular";
  font-weight: 300;
}
.social-logo__item {
  color: #41EAD4;
}
.social-logo__item:hover {
  color: #f7f8f3;
}
.social-logo__underline {
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #00C9E0;
  border-right: 1px solid #00C9E0;
}
.social-logo__list_horiz {
  display: flex;
  justify-content: space-between;
}
.social-logo__list_vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 5;
}

.intro {
  background-image: url(../image/header-bg.png);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  color: #f7f8f3;
}
.intro__wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 650px;
  width: 100%;
  font-family: "Oswald regular";
}
.intro__title {
  font-size: 55px;
  line-height: 77px;
  letter-spacing: 15px;
  font-family: "Oswald regular";
  margin-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 640px) {
  .intro__title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 8px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5px;
  }
}
.intro__subtitle {
  font-size: 24px;
  margin-bottom: 60px;
  font-family: "Oswald light";
  letter-spacing: 3px;
}
@media screen and (max-width: 767px) {
  .intro__subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .intro__subtitle {
    font-size: 20px;
  }
}
.intro__descriprion {
  font-family: "Lato regular";
  font-size: 18px;
}
.intro__aside {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
}
.intro__btn-scroll {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  background: none;
  outline: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
  position: relative;
}
.intro__btn-scroll::after {
  content: "";
  background-color: #00C9E0;
  width: 2px;
  height: 80px;
  top: 110px;
  right: 8px;
  position: absolute;
  animation: blink 2s infinite ease-in-out;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  background-image: url(../image/bg-1.png);
  background-color: #02223B;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 0;
}
.about__block {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: white;
  padding: 30px 10px;
}
.about__wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.about__title {
  font-size: 40px;
  font-family: "Oswald regular";
}
.about__icon-cross {
  width: 16px;
  height: 16px;
  background-color: #f7f8f3;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.about__description {
  width: 350px;
  font-size: 18px;
  font-family: "Lato regular";
}
.about__list {
  max-width: 1200px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Oswald regular";
  border-bottom: 1px solid #00C9E0;
}
@media screen and (max-width: 640px) {
  .about__list {
    font-size: 16px;
  }
}
.about__item {
  padding: 20px 0;
}
.about__item:hover {
  cursor: pointer;
  color: #00C9E0;
}
.about__item.active {
  border-bottom: 3px solid #00C9E0;
  display: block;
}
.about__item-content {
  display: none;
}
.about__tab-row {
  display: flex;
  align-items: center;
  min-height: 620px;
  gap: 60px;
}
.about__tab-col {
  width: 50%;
}
@media screen and (max-width: 640px) {
  .about__tab-col {
    width: 100%;
  }
}
.about__tab-col_slider {
  position: relative;
  max-width: 386px;
}
@media screen and (max-width: 640px) {
  .about__tab-col_slider {
    display: none;
  }
}
.about__content-title {
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Lato regular";
  margin: 40px 0;
}
.about__content-text {
  padding: 20px 0;
  font-size: 18px;
  font-family: "Lato";
}
.about__btn {
  margin: 40px 0;
  position: relative;
}
.about__btn::after {
  content: "";
  position: absolute;
  right: -20%;
  bottom: 50%;
  height: 2px;
  width: 80px;
  z-index: 10;
  background-color: #ffffff;
}
.about__btn:hover::after {
  background-color: #00C9E0;
}
.about__tab-container {
  position: relative;
}
.about__social-links {
  position: absolute;
  bottom: 10%;
  right: -5%;
  z-index: 7;
  width: 120px;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .about__social-links {
    display: none;
  }
}
.about img {
  max-width: 486px;
  border-radius: 20px;
  max-height: 607px;
  height: 100%;
  width: 100%;
}

.slider img {
  max-width: 486px;
  max-height: 607px;
  height: 100%;
  border-radius: 20px;
}

.arrows {
  position: absolute;
  bottom: 8px;
  right: 0;
  z-index: 4;
}

.arrow-l {
  margin: 0;
  padding: 10px;
  border: 1px solid #004274;
  background-color: #02223B;
  border-radius: 5px 0 0 0;
}

.arrow-r {
  margin: 0;
  padding: 10px;
  border: 1px solid #004274;
  border-radius: 0 0 5px 0;
  background-color: #02223B;
}

.about-us {
  background-image: url(../image/bg.png);
  background-color: #02223B;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 0;
  color: #f7f8f3;
}
.about-us__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 620px;
  gap: 60px;
}
@media screen and (max-width: 640px) {
  .about-us__row {
    flex-direction: column;
  }
}
.about-us__col {
  width: 50%;
}
.about-us__col_first {
  max-width: 320px;
}
.about-us__col_second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.about-us__col img {
  max-width: 395px;
  width: 100%;
}
.about-us__col__div1 {
  grid-area: 1/1/2/2;
}
.about-us__col__div2 {
  grid-area: 2/1/3/2;
}
.about-us__col__div3 {
  grid-area: 1/2/2/3;
}
.about-us__col__div4 {
  grid-area: 2/2/3/3;
}
.about-us__title {
  font-size: 40px;
  font-family: "Oswald regular";
}
.about-us__description {
  width: 350px;
  font-size: 18px;
  font-family: "Lato regular";
}
.about-us__text {
  padding: 20px 0;
  font-size: 18px;
  font-family: "Lato";
}
.about-us__btn {
  margin: 40px 0;
  position: relative;
}
.about-us__btn::after {
  content: "";
  position: absolute;
  right: -20%;
  bottom: 50%;
  height: 2px;
  width: 80px;
  z-index: 10;
  background-color: #ffffff;
}
.about-us__btn:hover::after {
  background-color: #00C9E0;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background-color: #00C9E0;
  border-radius: 50px;
  color: #f7f8f3;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lato";
}

.btn:hover {
  background-color: #f7f8f3;
  color: #02223B;
}