@import './reset';
@import './fonts/icons';
@import './fonts/fonts';
@import './mixins';
@import './variable';
@import 'blocks/header';
@import 'blocks/footer';
@import 'components/social-logo';
@import 'pages/intro';
@import 'pages/about';
@import 'pages/about-us';

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background-color:$blue-btn; 
  border-radius: 50px;
  color: $white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: $light-lato;
}

.btn:hover {
  background-color: $white;
  color: #02223B;
}


