@import './reset';
@import './fonts/icons';
@import './fonts/fonts';
@import './mixins';
@import './variable';
@import 'blocks/header';
@import 'blocks/footer';
@import 'pages/intro';

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

